{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb"
    /*
    아래는 eslint의 기본 설정과 prettier 코드 스타일에 따르는 설정
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
    */
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  // import시 import/extensions , import/no-unresolved 관련 규칙 끄기
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".ts", ".tsx"] }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "jsx-a11y/label-has-associated-control": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"], //tsconfig에서 baseUrl 설정 시
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    }
  }
}